/* 
    Created on : Jun 25, 2015, 1:10:12 AM
    Author     : Halsey Takang
*/

#header-wrapper{
    background-color:#5bc0de;
}

#footer-wrapper{
    background-color:#5bc0de;
    height: 100px;
}

#header{
    
}

#menu{
    
}

#logo{
    
}

#menu-list{
    list-style-type:none; 
    font-size:18pt;
}

.menu-list-item{
    display:inline-block;
    background-color: #269abc;
    color: #fff;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px
}