/* 
    Created on : Jun 25, 2015, 1:10:12 AM
    Author     : Halsey Takang
*/

#header-wrapper{
    background-color:#5bc0de;
}

#footer-wrapper{
    background-color:#5bc0de;
    height: 100px;
}

#header{
    
}

#menu{
    
}

#logo{
    
}

#menu-list{
    list-style-type:none; 
    font-size:18pt;
}

.menu-list-item{
    display:inline-block;
    background-color: #35B3D6;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;

}

.div_present_text{
    margin:20px 10px 20px 10px;
    padding: 10px 5px 5px 5px;
    border-right: thick solid #5bc0de;
    border-bottom: thick solid #5bc0de;
    border-left: thin solid #5bc0de;
    border-top: thin solid #5bc0de;
    border-radius: 8px;
    min-height: 200px;
    display: inline-block;
}

.div_present_text > div{
    background-color: #5bc0de;
    width: 100px;
    padding: 5px;
    margin-top: -25px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 14pt;

}

.menu-list-item > a{
    color: #ffffff;
}

.btn_style_sobp{
    background-color: #5bc0de;
    border-color:  #5bc0de;
    color : white!important;
}

.btn_style_sobp:hover,
.btn_style_sobp:focus,
.btn_style_sobp:active,
.btn_style_sobp.active,
.open .dropdown-toggle.btn-primary {
    background-color: #35B3D6!important;
    color : white!important;
    border-color:  #5bc0de;
}